body {
  background-color: white;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'Bold';
  src: url('./FONTS/Peace_Sans_Webfont.ttf');
}

@font-face {
font-family: 'Body-medium';
src: url('./FONTS/Montserrat-Medium.ttf');
}

@font-face {
font-family: 'Bebas';
src: url('./FONTS/BebasNeue-Regular.ttf');
}

.h_container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: #0b4c6e;
  font-family: 'Body-medium';
  border-bottom: 3px solid white;
  color: white;
  font-size: 20px;
  z-index: 3;
  position: relative;
}

.main-section{
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(180deg, rgba(11,76,110,1) 0%, rgba(0,131,203,1) 65%);
  padding-bottom: 100px;
}

.side-menu {
  display: none;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.side-menu a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  font-family: 'Bold';
}

.side-menu a:hover {
  color: #efe037;
}

.side-sections{
transform: translateY(50%);
}

.page-preview-container{
  width: 612px;
  height: 792px;
  background-color: white;
}

.page-name p{
  color: white;
  font-family: 'Body-medium';
  font-size: 40px;
  text-align: center;
}

.template-section1{
  padding-left: 1%;
  height: 227px;
  width: 612px;
  background: linear-gradient(90deg, rgba(250,175,64,1) 0%, rgba(249,236,49,1) 100%);
}


.main-info p{
  margin-top: 0px;
  margin: 0px;
  position: relative;
  text-align: center;
}
.template-section1 #name{
  color: white;
  font-family: 'Bebas';
  font-size: 50px;
}

.template-section1 #title{
  color: white;
  font-family: 'Bebas';
  font-size: 25px;
}

.template-section1 #profile{
  color: white;
  font-family: 'Body-medium';
  font-size: 15px;
  text-align: justify;
}

.template-section2{
  border-top: 1px solid white;
  height: 223px;
  width: 612px;
  background-color: black;
}

.edu-info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#edutitle{
color: white;
font-size: 25px;
border: 1px solid white;
font-family: 'Bebas';
position: relative;
left: 16px;
text-align: center;
width: 100px;
top: -8px;
}

.education-1 p {
  margin-top: 0px;
  text-align: center;
  margin: 0px;
}

.education-2 p {
  margin-top: 0px;
  text-align: center;
  margin: 0px;
}

.template-section2 #education1, #education2{
  color: white;
  font-family: 'Bebas';
  font-size: 40px;
}

.template-section2 #educationyear1, #educationyear2{
  color: white;
  font-family: 'Bebas';
  font-size: 20px;
}

.template-section3{
  height: 223px;
  width: 612px;
  background-color: black;
  border-top: 1px solid white;
}

#protitle{
  color: white;
  font-size: 25px;
  border: 1px solid white;
  font-family: 'Bebas';
  left: 16px;
  top: -8px;
  position: relative;
  width: 100px;
  text-align: center;
}
.project-info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.project2 p {
    margin-top: 0px;
    text-align: center;
    margin: 0px;
}

.project1 p {
    margin-top: 0px;
    text-align: center;
    margin: 0px;
}

.project1 #pname1 {
  color: white;
  font-family: 'Bebas';
  font-size: 30px;
}

.project1 #pcompany1, #pyear1{
  color: white;
  font-family: 'Bebas';
  font-size: 20px;
}

.project1 #pdescription1{
  color: white;
  font-family: 'Body-medium';
  font-size: 15px;
}

.project2 #pname2 {
  color: white;
  font-family: 'Bebas';
  font-size: 30px;
}

.project2 #pcompany2, #pyear2{
  color: white;
  font-family: 'Bebas';
  font-size: 20px;
}

.project2 #pdescription2{
  color: white;
  font-family: 'Body-medium';
  font-size: 15px;
}

.template-section4{
  border-top: 1px solid white;
  height: 119px;
  width: 612px;
  background: linear-gradient(90deg, rgba(250,175,64,1) 0%, rgba(249,236,49,1) 100%);
}

.contact-info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-top: -20px;
}

#contitle{
  color: white;
  font-size: 25px;
  border: 1px solid white;
  font-family: 'Bebas';
  width: 125px;
  text-align: center;
  position: relative;
  left: 16px;
  top: -16px;
}

#title{
  color: white;
  font-size: 20px;
  font-family: 'Bebas';
  margin-top: -10px;
}

#user-email, #user-phone{
  color: white;
  font-size: 12px;
  font-family: 'Body-medium';
}

#user-github, #user-linkedin{
  color: white;
  font-size: 12px;
  font-family: 'Body-medium';
}

.contact-info p{
  margin-top: 0px;
  margin: 0px;
}

.edit-elements, .edit-elements2{
  text-align: center;
}

.edit-elements h1{
  font-family: 'Bold';
  color: white;
  font-size: 30px;
}

.edit-elements2 h1{
  font-family: 'Bold';
  color: white;
  font-size: 30px;
}
