body {
  background-color: white;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'Bold';
  src: url('./FONTS/Peace_Sans_Webfont.ttf');
}

@font-face {
font-family: 'Body-medium';
src: url('./FONTS/Montserrat-Medium.ttf');
}

.slogans{
  text-align: center
}

.login{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #0083cb;
}


.login h1#slogan{
  color: white;
  font-family: 'Bold';
  font-size: 50px;

}

.login h1#slogan span{
  color: white;
  font-family: 'Bold';
  font-size: 58px;
  position: relative;
  z-index: 2;
}


.login img {
    max-width:40%;
    height:auto;
}

.container2 label{
  color: white;
  font-family: 'Bold';
}

.h_container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  color: white;
}

.rectangle{
  height: 10px;
  width: 140px;
  background-color: white;
  transform: translateY(300%);
  margin-left: 12px;
}

.highlight{
  height: 60px;
  width: 600px;
  background: linear-gradient(90deg, rgba(250,175,64,1) 0%, rgba(249,236,49,1) 100%);
  transform: translateY(-180%);
  position: relative;
  display: inline-block;
}

.login-box{
  font-family: 'Body-medium';
  color: white;
  font-size: 35px;
  margin-top: -50px
}

::placeholder{
  color: white;
}

.input{
  font-family: inherit;
  width: 70%;
  border: 0;
  border-bottom: 2px solid white;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

#user{
  margin-bottom: 20px;
}
